.homepage-wrapper.text-center
  .inner
    .row
      %div{ :class=> "columns small-offset-2"}
      %div{ :class=> "columns small-8 small-centered large-centered"}
        %h1{ :class => "text-center"} Scriba.md
        %h3{ :class => "text-center"} Great tool for the community-based translations
        %div{ :style => "clear:both;"}
        .row
          %div{ :class => "columns small-centered small-6"}
            %a{ :class => "large button success expand", :href => "/tryout"} Try this out!
      %div{ :class=> "columns small-offset-2"}