= form_tag project_document_block_path(@project, @document, block), method: :patch do
  = text_area_tag :block_text, block.to_s, id: "block_text_#{block.id}", :cols => 40, :rows => 5
  = submit_tag :save, :class => "button"
