// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: image-url('cell.png');
}

.homepage-wrapper {
  position: fixed;
  left: 0;
  top: 30%;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

#translate-table {
  background-image: image-url('cell.png');

}